
<footer class="footer">
  <div class="container-fluid" class>
    <nav>
      <ul>
        <li>
          <a href="https://github.com/AbdessalemOumellal">
            Abdessalem OUMELLAL
          </a>
        </li>
        <li>
          <a href="https://facebook.com/oumellal">
            Facebook
          </a>
        </li>
        <li>
          <a email="fa_oumellal@esi.dz">
            fa_oumellal@esi.dz
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed and Coded by
      <a>Abdessalem OUMELLAL</a>.
    </div>
  </div>
</footer>
