<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div  class="container"  class="overlay">
  <app-navigation-bar></app-navigation-bar>
  <router-outlet> </router-outlet>
</div>

<div class="container">
</div>
<footer>
</footer>

<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>



